// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Biryani', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//custom defaults
$white: #FFFFFF;
$primary: #263238;
$secondary: #01579B;
$accent: #3E2723;
$error: #F44336;
$info: #283593;
$success: #8BC34A;
$warning: #FF9800;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #006600;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//vuetify
$text-field-outlined-rounded-slot-padding: 0 8px;
